.container {
  margin: 30px 10px;
}

.movie {
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in;
}

.movie:hover {
  transform: scale(1.02);
}

.image {
  width: 100%;
  height: 100%;
}

.title {
  margin-right: 5px;
  font-size: 0.1rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0;
  /* color: white; */
}

.pubDate {
  margin-top: 0;
  margin: 0;
  font-size: 0.1rem;
  /* color: white; */
}
